@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */

body{
    font-family: "Open Sans", sans-serif;
}

.dark-2{
    color: rgb(71, 71, 71);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 40px;
    
}
.title-I{
    color: rgb(253, 110, 10);
}

nav ul li{
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
}
a{
    text-decoration: none;
    font-size: 20px;
}

.orange-btn{
    background-color: rgb(253, 110, 10);
    font-weight: 600;
    padding: 15px 24px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}
header{
    background-image: url(./images/developer.png) , url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
    height: 600px;
    margin-left: 200px;
    
}
.banner-greetings{
    font-size: 25px;
    font-weight: 600;
   
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banncer-content{
    max-width: 580px;
}

.banner img{
    
    height: 400px;
}